<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'survey/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'survey/modifications.css' %}">

    {% block stylesheets %} {% endblock %}

    {% block prescripts %}
    <script src="{% static 'survey/jquery.min.js' %}"></script>
    {% endblock %}

    
    <title>{% block title %}USNA/CS Research{% endblock %}</title>
  </head>

  <body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(0,51,127);">
      <span class="navbar-brand">
        <img src="{% static 'survey/images/USNA_Logo_United_States_Naval_Academy.png' %}" width=30 class="d-inline-block align-middle">
        USNA/CS
      </span>
                <div>
            <ul class="navbar-nav">
              <li>
              {% block optout %} {% endblock %}
              </li>
              
              <li> <button class="btn btn-primary mx-2" type="button" data-toggle="collapse" data-target="#moreinfo" aria-expanded="false" aria-controls="moreinfo">
                <small> <i>info</i> </small>
              </button>
            <li>
            </ul>
          </div>
    </nav>
    {% block progress %} {% endblock %}
    <div class="row w-100">
      <div class="collapse w-100" id="moreinfo">
        <div class="container-fluid w-100 px-3 mb-5 bg-light shadow-lg rounded">
          <ul class="list-unstyled">
            <li> <b> FILL IN PROJECT TITLE</b></li>
            <li> Dr. Adam J. Aviv </li>
            <li> Inst: <a  class="text-light bg-dark" href="http://www.usna.edu">The United States Naval Academy</a> </li>
            <li >IRB: <a  class="text-light bg-dark" href="http://www.usna.edu/HRPP/">Human Research Protection Program</a> </li>
          </ul>
      </div>
      </div>
    </div>
    {% endblock %}
    <div class="container-fluid">
      <div class="w-auto shadow-lg p-3 mb-5 bg-white rounded">
    
        {% block content %}
        {% endblock %}
      </div>
      
    {% block endscripts %}
    <script src="{% static 'survey/popper.min.js' %}"></script>
    <script src="{% static 'survey/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>

</html>
  
