
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'survey/bootstrap.min.css' %}">
<!-- <script src="{% static 'survey/bootstrap.min.js' %}"></script> -->
