<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        {% include "bootstrap_header.html" %}
    </head>
    
    <body>
        <div class="container-fluid">
            {% include "jumbo_header_no_opt_out.html" %}
        </div>


        <div class="container-fluid">
            <h2> Thank you for taking the survey! </h2>

            <p> Return to MTurk and enter the follow <strong> finish code </strong> to prove you've complete the work.  </p>

            <p class="text-danger">{{fincode}}</p>

            <p> <em>(Hint: if you reload the HIT page, the finish code will automatically propogate.)</em></p>
        </div>
    </body>

</html>
